header {
  background-color: black;
  padding-top: 20%;
}

header {
  background-image: url("/images/ngc2174.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header h1 {
  color: #eef;
}

header h1 small {
  color: #ccd;
  font-style: italic;
}
