@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

header {
  background-color: black;
  padding-top: 80px;
  margin-bottom: 50px;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

.parallax {
  background-color: black;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ngc2174 {
  background-image: url("../images/ngc2174.jpg");
}

.heic1107a {
  background-image: url("../images/heic1107a.jpg");
}

.potw1345a {
  background-image: url("../images/potw1345a.jpg");
}

.cosmic {
  background-image: url("../images/cosmic.png");
}

.heic0910h {
  background-image: url("../images/heic0910h.jpg");
}

header h1 {
  color: #eef;
}

header h1 small {
  color: #ccd;
  font-style: italic;
}

.satellite {
  display: block;
  position: absolute;
  height: 100px;
  top: 10px;
  right: 100px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    padding-top: 150px;
  }
  .satellite {
    height: 150px;
    top: 90px;
  }
  .parallax {
    height: 150px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    padding-top: 200px;
  }
  .satellite {
    height: 175px;
    top: 120px;
  }
  .parallax {
    height: 200px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    padding-top: 300px;
  }
  .satellite {
    height: 200px;
    top: 200px;
  }
  .parallax {
    height: 300px;
  }
}
