---
layout: default
---
<header class="{{ page.background }}" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="height: 1500px;">
      {{ content }}
      <p><a href="http://www.spacetelescope.org">Photos par le satellite Hubble | NASA, ESA, and the Hubble Heritage Team (CC-BY)</a></p>
    </div>
  </div>
</div>
