---
layout: default
---
<header class="{{ page.background }}" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="row">
      <img class="satellite" src="images/{{ page.satellite }}.png" alt="{{ page.title }}" data-stellar-ratio="1.4"/>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div data-spy="affix" class="visible-md visible-lg">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="index.html">Introduction</a></li>
          <li><a href="histoire.html">Histoire &amp; économie</a></li>
          <li><a href="hipparcos.html">Hipparcos</a></li>
          <li><a href="wmap.html">WMAP</a></li>
          <li><a href="planck.html">Planck</a></li>
          <li><a href="gaia.html">GAIA</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a href="http://www.spacetelescope.org">Photos par le satellite Hubble | NASA, ESA, and the Hubble Heritage Team (CC-BY)</a></p>
    </div>
  </div>
</div>
