---
layout: default
---
<header class="{{ page.background }}" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="row">
      <img class="satellite" src="/images/{{ page.satellite }}.png" alt="{{ page.title }}" data-stellar-ratio="1.4"/>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="/index.html" class="btn btn-primary">Retour</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><a href="http://www.spacetelescope.org">Photos par le satellite Hubble | NASA, ESA, and the Hubble Heritage Team (CC-BY)</a></p>
    </div>
  </div>
</div>
